<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boys-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boys-link">
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Tops</a>
                <a href="" class="dropdown-item">Trousers</a>
                <a href="" class="dropdown-item">Hoodies</a>
                <a href="" class="dropdown-item">Hats</a>
                <a href="" class="dropdown-item">All clothes</a>
                <a href="" class="dropdown-item">SALE</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="girls-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Girls
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="girls-link">
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Tops</a>
                <a href="" class="dropdown-item">Hoodies</a>
                <a href="" class="dropdown-item">Skirts</a>
                <a href="" class="dropdown-item">Leggings</a>
                <a href="" class="dropdown-item">Dresses</a>
                <a href="" class="dropdown-item">All clothes</a>
                <a href="" class="dropdown-item">SALE</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Glasses</a>
                <a href="" class="dropdown-item">Lightsticks</a>
                <a href="" class="dropdown-item">Make-up</a>
                <a href="" class="dropdown-item">Jewellery</a>
            </div>
        </li>
    </ul>
</div>